.cartIcon:hover{
    color:rgb(84, 83, 83);
    transition: all 0.3s linear;
    cursor: pointer;
}

.title{
    font-size:22px
}

.personIcon:hover{
    color:rgb(84, 83, 83);
    transition: all 0.3s linear;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(241,237,175,1);
  }


.flex-literatura a:after{
    display: block;
    content: '';
    border-bottom: solid 2px rgb(139, 135, 135);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.flex-literatura a:hover:after {
    transform: scaleX(1)
}
.flex-literatura a:hover{
    color:black
}


.flex-literatura a {
    text-decoration: none;
    color: rgb(76, 75, 75);
    transition: all 0.3s linear;
    text-decoration:none;
}

.style-books-cart{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    border-bottom: 1px solid rgb(211, 209, 209);
    padding-top: 1rem;
    width: 98%;
    color: black;
    gap:1rem;
    
    
}

.flex-center-content-books-cart span:nth-child(1) {
    font-weight: normal;
    font-size: 1.3rem;
}

.flex-center-content-books-cart span:nth-child(2) {
    font-weight: bolder;
    font-size: 1.5rem;
}

.flex-center-trash{
    font-size:1.3rem
}

.style-books-cart img{
  width:50px
}

.container-all-sections{
    overflow-y: scroll;
    max-height:50vh;
}

.totalValue{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:0;
    width:100%;
    margin-top:3rem;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    padding: 2rem 0;
    color:black;
    box-shadow: 3px -2px 2px rgb(227, 224, 224);
}
.totalValue div{
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  gap:1rem
}



.totalValue span{
    text-align: center;
    font-size: 2.2rem;
    margin-right:10px
}

.flex-center-content-books-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.priceCart {
    font-weight: normal;
    font-size: 1.5rem;
}

.button-purchase{
    display: block;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 1.5rem 2rem;
    border-radius: .3rem;
    border: none;
    font-weight: bolder;
    background-color: #fdd900;
    color:black;
    cursor: pointer;
    transition: all 0.3s linear;
    border:  white 2px solid;
}

.button-purchase:hover{
    color:black;
    background-color: white;
    border: #fdd900 2px solid;
}